html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #52658f;
}
p{
    color: #333a56;
    font-size: 12px;;
}
h1{
    color: #52658f;
    padding-top: 30px;
    font-size: 25px;
}
h2{
  color: #52658f;
  font-size: 20px;
}
h3{
  color: #52658f;
  font-size: 18px;
}
hr{
  background-color: #0020a1;
  width: 100%;
}
.imgs{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.content{
    margin-top: 50px;
    padding: 0 30px;
    text-align: justify;
}

.wrap{
  margin: 0 auto;
  max-width: 600px;
  padding: 0 1rem;
  background-color: #f7f5e6;
   height: 100%;
   padding-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .wrap{
    width: 100%;
  }

}