html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url(https://images.fineartamerica.com/images-medium-large-5/light-blue-vector-triangle-background-design-geometric-background-in-origami-style-with-gradient-vector-phochi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    color: #333a56;
    font-size: 15px;
    padding: 10px;
}
h1{
    color: #52658f;
    padding: 20px;
    padding-left: 15px;
    font-size: 40px;
    margin: 0;
    text-align: left;
}
h2{
  color: #52658f;
  font-size: 30px;
  background-color: #e8e8e8;
  width: 100%;
  height: 40px;
  padding: 15px 10px;
  text-align: left;
}
h3{
  color: #52658f;
  font-size: 25px;
  padding-left: 15px;
  background-color: #e8e8e8;
  width: 100%;
  height: 40px;
  padding: 15px 10px;
  text-align: left;
}
hr{
  background-color: #0020a1;
  width: 100%;
}
.imgs{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.content{
    margin-top: 50px;
    padding: 0 30px;
    text-align: justify;
}

.wrap{
  margin: 0 auto;
  max-width: 800px;
  padding: 0 1rem;
  background-color: #f7f5e6;
   height: 100%;
   padding-bottom: 30px;
}
@media screen and (min-width: 800px) {
  .wrap{
    width: 100%;
  }
}